.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  position: relative;
  box-sizing: border-box;
  z-index: -1;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 0;
}

.header__title {
  color: #000000;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  margin-top: 202px;
  margin-bottom: 28px;
  z-index: 1;
}

.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  display: block;
  z-index: 1;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
}

.header__footer {
  color: #6f6f6f;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  z-index: 1;
}

.header__paragraph {
  margin: 0;
  z-index: 1;
}
