.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 125px;
  height: 142px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__title {
  color: #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  margin-top: 202px;
  margin-bottom: 28px;
}

.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  display: block;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.header__paragraph {
  margin: 0;
}
