.menu {
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  max-width: 780px;
  margin-bottom: 24px;
  color: #ffffff;
}

.menu__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  max-width: 780px;
  margin-bottom: 100px;
  color: #ffffff;
}

.menu__cards {
  margin: 0 auto;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  list-style: none;
}

.card {
  box-sizing: border-box;
  max-width: 600px;
  display: flex;
  flex-basis: 500px;
  flex-direction: column;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 32px;
  color: #ffffff;
}
.card__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.card__list-item {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  column-gap: 16px;
  display: flex;
  align-items: baseline;
  color: #ffffff;
}

.card__list-divider {
  border-bottom: 2px solid #fff;
  min-width: 50px;
  flex-grow: 1;
}
