.reservation {
  box-sizing: border-box;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reservation__form {
  padding-bottom: 120px;
  margin: 0 auto;
  width: 385px;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding: 100px;
  margin-bottom: 80px;
}

.form__fieldset {
  margin-bottom: 32px;
  border: none;
  display: flex;
  flex-direction: column;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__label_checkbox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__input {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  background: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__input[type="text"],
.form__input[type="number"]
  .form__input[type="datetime-local"]
  .form__input[type="email"] {
  border-radius: 4px;
  max-width: 385px;
}

.form__input::placeholder {
  font-size: 20px;
  color: #8b8b8b;
}

.form__input[type="checkbox"] {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.form__button[type="submit"] {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  height: 60px;
  background: #2f71e5;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin-bottom: 32px;
}

.form__button[type="submit"]:hover {
  opacity: 70%;
}

.form__input[type="text"]:focus,
.form__input[type="number"]:focus
  .form__input[type="datetime-local"]:focus
  .form__input[type="email"]:focus {
  outline-color: #2f71e5;
  outline-style: solid;
  outline-width: 1px;
}
