.reservation {
  box-sizing: border-box;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reservation__form {
  padding-bottom: 120px;
  margin: 0 auto;
  width: 385px;
}

.reservation__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  margin-top: 0;
  margin-bottom: 80px;
}
